html {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

html::-webkit-scrollbar {
    display: none;
}

.full-height {
    height: 100vh;
}

@media only screen and (max-width: 990.98px) {
    .full-height {
        height: 65vh;
    }
}

@media only screen and (max-height: 298px) {
    .full-height {
        height: 320px;
    }
}

.navbar-custom {
    min-height: 7%;;
}

.nav-bg-custom {
    background-color: rgba(0,0,0,.75);
}

.hero-top-background {
    padding-top: 0%;
    background-image:
        linear-gradient(rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.25)),
        url(./assets/heroImageKeyboard.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.hero-title-bottom {
    margin-top: -7.2vw;
}

.chevron-styles {
    color: rgba(5, 136, 188, 0.8);
    margin: auto -1.7vw;
}

.hr-style {
    border-top: 1px solid rgba(140, 139, 139, 0.6);
    width: 70vw;
}

.row-spacer-tall {
    height: 8vh;
}

.row-spacer-md {
    height: 4vh;
}

.row-spacer-short {
    height: 2vh;
}

.col-spacer-narrow {
    width: 3vw;
}

.col-spacer-md {
    width: 6vw;
}

.impact-300 {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 2vw;
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
}

.impact-500 {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 2.2vw;
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
}

.impact-600 {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 3.5vw;
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
}

.impact-700 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 15vw;
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
}

.impact-800 {
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 15vw;
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
}

.tagline-top {
    margin-top: -3vw;
    letter-spacing: .3vw;
}

.tagline-bottom {
    letter-spacing: .5vw;
}

.social-box {
    background-color: rgba(134, 216, 245, 0.2);
    border-radius: .5rem;
    box-shadow: 2px 1px 4px rgb(0, 0, 0);
}

.container-bg-custom {
    background-color: rgb(211, 204, 227);
    background-size: cover;
    background-repeat: no-repeat;
}

.fa-custom {
    font-size: 5vw;
    text-align: center;
}

.headshot {
    max-width: 30rem;
    height: auto;
}

.rounded-circle {
    box-shadow: 1px 2px 6px rgb(0, 0, 0);
}

.offset-left {
    margin-left: -2%;
}

.link-hover {
    font-weight: 500;
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.link-hover:hover {
    color: rgb(0, 0, 0);
}

.card {
    box-shadow: 1px 2px 6px rgb(0, 0, 0);
}

.card-image-top {
    width: 100%;
    margin: 0%;
}

.icon-hover-effect {
    color: rgba(5, 136, 188, 0.8);
    text-decoration: none;
    transition: ease-in-out 120ms;
    text-shadow: 2px 2px 4px #000000;
}

.icon-hover-effect:hover {
    color: rgb(5, 136, 188);
    text-decoration: none;
}

.footer {
    width: 100%;
    height: 4vh;
    line-height: 4vh;
    color: rgba(253, 253, 253, 0.50);
    background-color: rgba(0,0,0,.75);
}

.foot-content {
    padding: 0rem 1rem;
}

.footer-hover-effect {
    color: rgba(253, 253, 253, 0.50);
    text-decoration: none;
    transition: ease-in-out 120ms;
}

.footer-hover-effect:hover {
    color: rgba(253, 253, 253, 0.95);
    text-decoration: none;
}

#about {
    position: absolute;
    top: 93vh;
}

.fig {
    font-size: 3rem;
    margin-left: .5rem;
    margin-right: .5rem;
}

.fig-html {
    color: rgb(227, 76, 38);
}

.fig-css {
    color: rgb(38, 77, 228);
}

.fig-js {
    color: rgb(240, 219, 79);
    background: linear-gradient(transparent 40%,rgb(50, 51, 48) 40%, rgb(50, 51, 48) 87.5%, transparent 87.5%);
}

.fig-node {
    color: rgb(60, 135, 58);
}

.fig-bootstrap {
    color: rgb(85, 60, 123);
}

.fig-csharp {
    color: rgb(152, 82, 173);
}

@media screen 
and (max-width: 280.5px) {
    * {
        margin-left: 0 !important;
        margin-right: 0 !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}